@charset "ISO-8859-1";
html,
body {
	background-color: #ecebeb;
	color: #343a3e;
}

/* View Login e Cadastro */
#view-login,
#view-cadastro {
	width: 100%;
	height: 100vh;
	background-color: #343a3e;
}

#view-login > div {
	height: inherit;
}

#view-login .box-login {
	width: 340px;
	height: auto;
}

#view-cadastro .box-cadastro label,
#view-cadastro .box-cadastro p,
#view-login .box-login label,
#view-login .box-login p {
	color: #fff;
}

#view-cadastro .box-cadastro p {
	font-size: 1.3rem;
    text-transform: uppercase;
}

/* Body APP */
body.view-app {
	/*margin-top: 68px;	*/
}

/* Header Cliente e Gráfica */
#header {
	width: 100%;
	background-color: #fff;
	/*position: fixed;*/
    top: 0;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
	z-index: 99999;
} 

#header .image-logo img {
	width: 160px;
}

#header .box-usuario {
	display: flex;
    align-items: center;
}

#header .box-usuario p {
	margin-bottom: 0;
}

#header .box-usuario img {
	width: 50px;
	margin-right: .5rem;
}

/* Menu Cliente e Grafica */
.menu-grafica,
.menu-cliente {
	background-color: #343a3e;
	height: 100vh;
}

.menu-grafica ul,
.menu-cliente ul {
	margin: 0;
	padding: 2rem 0 0 1rem;
	list-style: none;
}

.menu-grafica ul li,
.menu-cliente ul li {
	padding: 1rem 0;
}

.menu-grafica ul a,
.menu-cliente ul a {
	color: #fff;
	text-transform: uppercase;
	width: 100%;
    display: inline-block;
    transition: .3s ease;
}

.menu-grafica ul a:hover,
.menu-cliente ul a:hover {
	text-decoration: none;
	color: #ffc107;
}

.grafica-item-logo {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	background-color: #fff;
	display: flex;
    justify-content: center;
    margin-bottom: 1rem;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
}

.grafica-item-logo img {
	display: block;
	width: 70%;
}

.grafica-item h3 {
	font-size: 1.4rem;
    font-weight: 600;
    color: #343a3e;
    margin-bottom: 1rem;
}    