<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>loginAuth</filter-name>
  	<display-name>loginAuth</display-name>
  	<description></description>
  	<filter-class>br.com.expertsunited.controler.filter.loginAuth</filter-class>
  </filter>
  <filter>
  	<filter-name>appAuth</filter-name>
  	<display-name>appAuth</display-name>
  	<description></description>
  	<filter-class>br.com.expertsunited.controler.filter.appAuth</filter-class>
  </filter>
  <filter>
  	<filter-name>cadastrograficaAuth</filter-name>
  	<display-name>cadastrograficaAuth</display-name>
  	<description></description>
  	<filter-class>br.com.expertsunited.controler.filter.cadastrograficaAuth</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>loginAuth</filter-name>
  	<url-pattern>/seguranca/login.xhtml</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>appAuth</filter-name>
  	<url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>cadastrograficaAuth</filter-name>
  	<url-pattern>/cadastro/grafica.xhtml</url-pattern>
  </filter-mapping>
  <welcome-file-list>
  	<welcome-file>seguranca/login.xhtml</welcome-file>
  </welcome-file-list>
</web-app>
